
body {
    background-color:rgb(238, 130, 238);
  }
  
  h1 {
    color:rgb(255, 0, 0);
    text-align: center;
  }
  
  p {
    
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    text-align:center;

  }
  h4{
    text-align:center;
    font-style: italic;
    color:rgb(255, 165, 0);

  }
  img{
    height:350px;
    width:350px;
    
  }
    